@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

html {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  background: #F8FAFC;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
}

.main-container {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #1E1B4B;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 128px;
  margin-bottom: 64px;
  gap: 32px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.hero-subtitle {
  max-width: 70ch;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-img {
  border-radius: 50%;
  width: 300px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  font-weight: 400;
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}

.blog-list {
  padding-left: 0;
}

.blog-list > li {
  list-style: none;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.contact-icon > a:hover > img {
  filter: brightness(1.5);
  transform: scale(1.025);
  transition-property: transform, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .hero-subtitle {
    text-align: center;
  }

  .contact-icons {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}
